normalized_corpus.xml
/venv
venv/
__pycache__/
*.pyc
.curation/
.classla/
clean/
classla/
.venv/
.meta/
cache.sqlite
cache.sqlite-shm
cache.sqlite-wal
.statistics
.topic
.lda
slovene_topics/embeddings.dat
slovene_topics_full/embeddings.dat
slovene_topics_full/bertopic_model
slovene_lda/
sample.xml
lda_analysis/
lda_grid/
outputs/
slovene_lda_gpu/
slovene_topics/
slovene_topics_full

